.sample {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
} 
button {
    padding: 10px 10px;
    font-size: 16px;
}

.hidden {
    display: none;
}

.TimeFrame {
    margin-left: 85px;
}
#plot {
    /*margin-left: 6em;
    margin-right: 6em;
    */
    margin-bottom: 3.2em; 
}
#companyName, #currentPrice, #sector, #industry, #marketCap {
    margin-left: 85px;
}
#NavBar {
    margin-top: 1em; 
}


