<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="/static/styles.css"> 
</head>
<body>
    <center id ="NavBar">
       <a href="/"> Home </a> 
    </center>
    <div class="container">
        
        <h1 id="companyName">Loading...</h1>
        <h2 id="tickerSymbol"></h2>
        <center>
        <div id="signalBox" class="signal-box">
            <h3 id="rating" class="rating"></h3>
            <h4 id="remark" class="remark"></h4>
        </div>
        </center>
        <center>
        <h3>Key Price Levels</h3>
        <table id="analysisTable" border = "1">
            <thead>
                <tr>
                    <th>Metric</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                </tbody>
        </table>
        </center>
        
        <div id="stockChartContainer" style="margin-top: 2em;">
             </div>
    </div>

    <script src="/static/analysis.js"></script>
</body>
</html>