<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earnings</title>
</head>
<body>
    <center>
        <h1 id = earningsTitle>Earnings Page</h1>
            <p>
            <a href="/"> Home </a>
            </p>
    </center>
    <script src = '/static/earnings.js'> </script>

    <center>
        <table id="anEarningsTable" border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Revenue</th>
                    <th>Gross Profit</th>
                    <th>Normalized EBITDA</th>
                    <th>Net Income</th>
                    <th>Diluted EPS</th>
                    <th>Total Expenses</th>
                    <th>Operating Income</th>
                </tr>
            </thead>
            <tbody id = "anEarningsTableBody">
            </tbody>
        </table>
        <table id="quEarningsTable" border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total Revenue</th>
                    <th>Gross Profit</th>
                    <th>Normalized EBITDA</th>
                    <th>Net Income</th>
                    <th>Diluted EPS</th>
                    <th>Total Expenses</th>
                    <th>Operating Income</th>
                </tr>
            </thead>
            <tbody id = "quEarningsTableBody">
            </tbody>
        </table>
    </center>
</body>
</html>